{% extends 'base.html' %}

{% block title %}Métodos{% endblock %}

{% block content %}
<h3 class="text-center"><b>Capítulo 1</b></h3>
<p class="text-center">Seleccione un método:</p>

<div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
  <a href="" class="method-box">Bisección</a>
  <a href="" class="method-box">Newton</a>
  <a href="" class="method-box">Punto Fijo</a>
  <a href="" class="method-box">Regla Falsa</a>
  <a href="" class="method-box">Raíces Múltiples</a>

</div>

 <br>

  <h3 class="text-center"><b>Capítulo 2</b></h3>
  <p class="text-center">Seleccione un método:</p>

<div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
  <a href="" class="method-box"> Jacobi</a>
  <a href="" class="method-box"> de Gauss-Seidel</a>
  <a href="" class="method-box"> SOR</a>
</div>

<br>

<h3 class="text-center"><b>Capítulo 3</b></h3>
<p class="text-center">Seleccione un Método:</p>

<div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
<a href="" class="method-box">Lagrange</a>
<a href="" class="method-box">Newton I</a>
<a href="" class="method-box">Spline Cubico</a>
<a href="" class="method-box">Spline Lineal</a>
<a href="" class="method-box">Vandermonde</a>
</div>
{% endblock %}
